@{
  ViewData["Title"] = "Create An Entry";
}

@model ParksExplorer.Models.Park

<h4>Add a new park to the website</h4>
<hr>
<br>

<p>@Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger", @style = "font-weight: 600;" })</p>

<div class="container">
  @using (Html.BeginForm())
  {
    <div class="form-group">
      @Html.LabelFor(model => model.Name, new { @class = "control-label" })
      @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
    <br>

      @Html.LabelFor(model => model.Classification, new { @class = "control-label" })
      @Html.TextBoxFor(model => model.Classification, new { @class = "form-control" })

    <br>

      @Html.LabelFor(model => model.Location, new { @class = "control-label" })
      @Html.TextBoxFor(model => model.Location, new { @class = "form-control" })
    <br>

      @Html.LabelFor(model => model.MajorLandmarks, new { @class = "control-label" })
      @Html.TextBoxFor(model => model.MajorLandmarks, new { @class = "form-control" })
    <br>

      @Html.LabelFor(model => model.Activities, new { @class = "control-label" })
      @Html.TextBoxFor(model => model.Activities, new { @class = "form-control" })
    <br>

      @Html.LabelFor(model => model.Facilities, new { @class = "control-label" })
      @Html.TextBoxFor(model => model.Facilities, new { @class = "form-control" })
    <br>

      @Html.LabelFor(model => model.YearFounded, new { @class = "control-label" })
      @Html.TextBoxFor(model => model.YearFounded, new { @class = "form-control" })
    </div>
    <br>
    <br>
    
    <input type="submit" value="Add new park" class="btn btn-primary"/>
  }
  
  <br>
  <div id="navlinks">
  <p>@Html.ActionLink("Back to all parks", "Index")</p>
  </div>

</div>